.restaurant-menu-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .restaurant-address {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .menu-item-details {
    flex-grow: 1;
  }
  
  .menu-item-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu-item-description {
    font-size: 14px;
    color: #555;
  }
  
  .menu-item-image {
    margin-right: 10px;
  }
  
  .menu-item-image-img {
    width: 115px;
    height: 123px;
  }
  
  .menu-item-price {
    font-size: 100px;
    color: #c10000;
  }
  