  .search-container {
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .search-dropdown > * {
    text-decoration: none!important;
  }
  
  .search-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none!important;
    color: black;
    border-bottom: 1px solid #000000;
  }

  .search-item:last-child {
    border-bottom: none; 
  }
  
  .search-item:hover {
    background-color: #f1f1f1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  