.restaurant-card {
  display: flex;
  align-items: center;
  border-bottom: .1px solid #dedede;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
  height: 90px;
}

.restaurant-card-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.restaurant-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-card-details {
  flex-grow: 1;
  /* margin-left: 50px; */
}

.restaurant-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  transform: translate(0px, 20px);
}

.restaurant-card-category {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 13px;
  color: grey;
}

.restaurant-card-rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  /* margin-left: 350px; */
  transform: translate(150px, -20px);

}

.restaurant-card-rating-text {
  font-style: italic;
  font-size: 15px;
  color: #777;
  transform: translate(-75px, 20px);
}

.restaurant-card-wait-time {
  margin-bottom: 5px;
  margin-left: 550px;
  transform: translate(-10px,-60px);
}

.restaurant-card-delivery-price {
  font-weight: bold;
  margin-left: 650px;
  transform: translate(61px, -85px);
}

.restaurant-card-rating .fa-star {
  color: #8f8f8f;
}

.restaurant-card-rating .fa-star.checked {
  color: #ffd700;
}

.restaurant-results {
  transform: translate(-700px, 0px);
}

.restaurant-index-container {
  padding-right: 50px;
}