.homePageRestaurantList {
    display: flex;
    flex-wrap: wrap;
  }
  
  .restaurant-info {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .restaurant-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .restaurant-address {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .restaurant-description {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .restaurant-hours {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .restaurant-rating {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .restaurant-review_count {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .restaurant-pricing_rating {
    font-size: 14px;
    margin-top: 5px;
  }
  