/* .main-container {
  margin-bottom: 200px;
}
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.restaurant-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 100px;
  justify-content: center;
}

.restaurant-image {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0 0 70% 0);
  border-radius: 40px;
}

.container img {
  width: 80%;
  height: 100%;
  margin-left: 135px;
  object-fit: cover;
  margin: 0 200 -200px;
}

.restaurant-details {
  position: relative;
  /* top: 20px; */
  /* right: 20px; */
  background-color: #fff;
  padding: 10px;
  margin-top: 50px;
  /* margin-right: 200px; */
  /* transform: translate(-100%, 60%);  */
  /* justify-content: flex-start; */
}

.restaurant-details img {
  width: 20px;
  height: 22px;
  margin-bottom: 10px;
}

.restaurant-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.restaurant-location {
  color: #888;
  font-size: 14px;
}

.restaurant-info {
  font-size: 11px;
  margin-bottom: 25px;
}

.rating-info {
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.rating-stars {
  margin-left: 4px;
  margin-right: 4px;
}

.rating-count {
  color: #888;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: flex-end; 
    margin: 0 100px;
    /* padding-bottom: 100px; */
    /* margin-bottom: 400px; */
}

.menu-item {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 400px;
  height: 100px;
  border: 2px solid #ccc;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}



.menu-item:hover {
  background-color: #e1e1e1;
}

.menu-item-content {
  display: flex;
  justify-content: space-between;
}

.menu-item-left {
  display: flex;
  flex-direction: column;
}

.menu-item-right {
  display: flex;
  flex-direction: column; 
}

.menu-item-name h4{
  font-size: 16px; 
  font-weight: bold;
  margin-bottom: 5px;
}

.menu-item-description {
  font-size: 10px;
  color: #888;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-95%);
  margin-top: 50px;
}

  .menu-item-image img {
    position: absolute;
    top: 50%; 
    left: 45%; 
    transform: translate(-51%, -50%); 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    width: 170px;
    height: 100px;
    margin-right: 4000px;
    /* border-radius: 10px; */
  }

  .menu-item-price {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 40px;
    color: #fff;
    padding: 4px;
    position: absolute;
    align-self: flex-end;
    font-size: 10px;
    transform: translate(10%, -10%);
  }

  .menu-item-price p {
        justify-content: center;
        transform: translate(0%, 60%);
        font-weight: bold;
  }
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .close-text {
    margin-right: 10px;
  }
  
  .close-icon {
    font-size: 18px;
  }
  
  .modal-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .tab-container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-60%, -60%);
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: 100px;

  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    padding: 10px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 25px;
    background-color: #006aff;
    border-radius: 10px;
    color: white;
  }
  
  .tab.active {
    /* font-weight: bold; */
    max-height: 200px; 
    overflow-y: auto;
    /* margin-bottom: 200px; */
  }
  
  .search-bar-rest {
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: flex-end; */
    margin-left: 700px;
    /* margin-bottom: 270px; */
  }

   .search-bar-rest input[type="text"] {
    padding: 8px;
  }
  
    .search-bar-rest button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  } 
  