.supermassive-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    /* margin-left: 200px; */
  }
  
  
  .u-stack-y-0 {
    margin-top: 150px;
    /* margin-left: 100px; */
  }

  .addressInput-textInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .addressInput-submitBtn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addressInput-submitBtn:hover {
    background-color: #d32f2f;
  }
  
  .addressInput-submitBtn:focus {
    outline: none;
  }
  
/* Nearby Search Button */
.btn-info {
    background-color: #f44336;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-info:hover {
    background-color: #d32f2f;
  }
  
  .btn-info:focus {
    outline: none;
  }

  .cb-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .image-container {
    background-image: url('../../assets/salad.jpg');
    background-size: cover;
    background-position: right;
  }
  
  
  
  
    