.custom-section {
  height: 100vh;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.custom-row {
  display: flex;
}

.custom-col {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.custom-col-img {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
}

.custom-col-text {
  text-align: center;
}

.custom-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.custom-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.custom-input-wrapper {
  width: 23rem;
}

.custom-heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.custom-input-group {
  margin-bottom: 1rem;
}

.custom-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-button-group {
  display: flex;
  align-items: center;
}

.custom-icon {
  /* Define the styles for the icon */
}

.custom-button {
  /* Define the styles for the button */
}

    