<<<<<<< HEAD
.custom-section {
  height: 100vh;
}

.custom-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.custom-row {
  display: flex;
}

.custom-col {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.custom-col-img {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
}

.custom-col-text {
  text-align: center;
}

.custom-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.custom-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.custom-input-wrapper {
  width: 23rem;
}

.custom-heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.custom-input-group {
  margin-bottom: 1rem;
}

.custom-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-button-group {
  display: flex;
  align-items: center;
}

.custom-icon {
  /* Define the styles for the icon */
}

.custom-button {
  /* Define the styles for the button */
}

    
=======
/* Add the following CSS to your stylesheet */


.splash-section {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100%;

}

.splash-container {
  flex: 1;
  display: flex;
}

.splash-row {
  position: relative;
  right: 10px;
  bottom: 60px;
}

.splash-image {
  width: 120%;
  height: 110%;
  object-fit: cover;
}

.splash-mid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  text-align: center;
  margin-bottom: 150px;
  margin-left: 100px;
}

.splash-desc {
  margin-bottom: 1rem;
  font-size: 50px;
}

.splash-form {
  margin-bottom: 1rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.address-form {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  margin-right: 1rem;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.7); /* Greyer and more transparent text */
  background-color: rgba(255, 255, 255, 0.5); /* More transparent background */
  border: 1px solid rgba(0, 0, 0, 0.1); /* More transparent border */
  /* position: absolute; */
  /* margin-right: 20px; */
}

.search-splash-button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  /* width: 10px; */
  white-space: nowrap;
}

.search-splash-button:hover {
  background-color: #b20707;
}

.login-link {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 100px;
  font-size: 30px;
  /* margin: 1rem; */
}

.login-link a {
  text-decoration: none;
  color: #ff0000; /* Customize the color */
}

>>>>>>> 07e4f39db1ee5980276a526bb1d05ed6bee937bb
