.restaurant-info {
    position: fixed;
    /* bottom: 1px; */
    top: -70px;
    left: 60px;
    width: 200px;
    height: 345px;
    padding: 20px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* transform: translateY(110%); */
    overflow: auto;
  }
  
  .restaurant-info.open {
    transform: translateY(0);
  }
  